<footer class="bg-dark text-white fixed-bottom">
  <div class="container-fluid py-3">
    <div class="row">
      <div class="col-md-9"></div>
      <div class="col-md-3 text-right small align-self-end">©Copyright<%= Time.now.strftime("%Y") %></div>
    </div>
  </div>
</footer>